body {
  font-family: "Montserrat", sans-serif;
  /*font-family: "Roboto", sans-serif;*/
  margin: 0 90px 0 90px;
}

header {
  height: 50px;
  display: flex;
  align-items: stretch;
}

header > a {
  text-decoration: none;
  color: black;
  flex-basis: 150px;
}

.work {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 50px auto auto;
  height: 800px;
}

.work > div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.work > div:first-of-type {
  background-image: url("https://images.unsplash.com/photo-1449034446853-66c86144b0ad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80");
}

.work > div:nth-of-type(2) {
  background-image: url("https://images.unsplash.com/photo-1470341223622-1019832be824?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2288&q=80");
}

.work > div:nth-of-type(3) {
  background-image: url("https://images.unsplash.com/photo-1448630360428-65456885c650?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2094&q=80s");
}

.work > div:nth-of-type(4) {
  background-image: url("https://images.unsplash.com/photo-1534161308652-fdfcf10f62c4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2174&q=80");
}

.work > .header {
  margin: 0;
  grid-column-start: 1;
  grid-column-end: 3;
  align-self: center;
}

@media screen and (max-width: 992px) {
  .work {
    grid-template-columns: 100%;
    grid-template-rows: 50px 200px 200px 200px 200px;
  }

  .work > .header {
    margin: 0;
    align-self: center;
  }
}
