/*GLOBAL*/

/**{
  border: 1px solid rgba(0, 0, 0, 0.15);
  background: rgba(0,0,0,0.1);
}*/


/*General*/

html {
  width: 100%;
  display: block;
  text-decoration: none;
}

body {
  margin: 0px;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  box-sizing: border-box;
  width: 100%;
}

a {
  text-decoration: none;
}




/*HEADER*/

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: block;
  width: 100%;
  font-size: 1.5em;
  font-color: white;
  padding: 20 0 20 0;
  transition-duration: 1s;
  background-color: rgba(0, 0, 0, 0.12);
}

header nav, header .site-title {
  display: inline-block;
  text-decoration: none;
}

header .site-title {
  margin: 0 0 0 20;
  border: solid white 1px;
  padding: 0 30 0 30;
  color: white;
  transition-duration: 1s;
}

header .site-title:hover {
  background-color: white;
  color: black;
  border: 1px white solid;
}

header nav {
  position: absolute;
  right: 0;
  padding: 0 20 0 20; 
}

header a {
  display: inline-block;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding-left: 20px;
}

header ul a {
  box-sizing: content-box;
  color: white;
}

header ul li {
  margin: 0 30 0 30;
}

.scroll {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5 0 5 0;
}


.aboutheader {
  transition-duration: .75s;
  border: solid white 1px;
}

.aboutheader:hover {
  background: hsla(200, 89%, 21%, 0.6);
  border: hsla(200, 89%, 21%, 0.6) solid 1px;
}

.photoheader {
  border: solid white 1px;
  transition-duration: .75s;
}

.photoheader:hover {
  background: hsla(18.4, 78.7%, 65.1%, 1);
  border: solid hsla(18.4, 78.7%, 65.1%, 1) 1px;
}

.designheader {
  border: solid white 1px;
  transition-duration: .75s
}

.designheader:hover {
  background: hsla(235.6, 50.9%, 89.6%, 0.6);
  border: solid 1px hsla(235.6, 50.9%, 89.6%, 0.6);
}

.contactheader {
  border: solid white 1px;
  transition-duration: .75s
}

.contactheader:hover {
  background: hsla(105.3, 29%, 35.9%, 0.6);
  border: hsla(105.3, 29%, 35.9%, 0.6) 1px solid;
}



/*LANDING*/



.landing {
  box-sizing: border-box;
  position: relative;
  min-height: 200px;
  padding: 100px;
  height: 100vh;
  width: 100%;
  background-image: url(../img/background3.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.landing-content {
  padding-left: 30px;
  padding-right: 30px;
}

.vertical-align-parent {
  display: table;
}

.vertical-align-child {
  display: table-cell;
  vertical-align: middle;
}

.landing h1, .landing h2 {
  -webkit-filter: none;
  text-align: center;
  margin: 0;
}

.landing .landCont {
  padding-top: 30px;
  padding-bottom: 50px;
}

.landing h1 {
  color: #064767;
  font-weight: 300;
  font-size: 50px;
}

.landing h2 {
  color: white;
  font-weight: 300;
  font-size: 40px;
  padding-top: 100px;
}

.break {
  max-width: 60%;
  margin: 10px auto;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 5px solid
}

.landing .break {
  border-color: #ec8b60;
  margin: 10px auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

/*SECTION INTRO TEMPLATE*/

.sec-intro {
  text-align: center;
  margin: 0;
}

.sec-intro .sec-head h1 {
  padding-top: 40px;
  font-size: 60px;
  font-weight: 500;
}

.sec-intro h1, .sec-intro h2 {
  margin: 0;
  font-weight: 200;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.sec-intro h1 {
  color: white;
  font-size: 30px;
  padding-bottom: 30px;
}

.sec-intro h2 {
  font-size: 25px;
  padding-bottom: 50px;
}

/*ABOUT-SECTION*/

#about {
  width: 100%;
}

#about .sec-intro {
  background-color: #064767;
}

#about .sec-intro .break {
  border-color: #4e7641;
}

#about .sec-intro h2 {
  color: #d7d9f2;
}

/*PHOTO-SECTION*/

.hidden{
     opacity:0;
}
.visible{
     opacity:1;
}

#photo {
  width: 100%;
}

#photo .sec-intro {
  background-color: #ec8b60;
}

#photo .sec-intro .break {
  border-color: #064767;
}

#photo .sec-intro .fa {
    color: #064767;
    padding-top: 20px;
    font-size: 1000%;
  }

.grid{
  width: 100%;
  overflow: auto;
}

.grid-box {
  width: 33.3333333%;
  float: left;
  position: relative;
}

.grid-box a {
  color: orange;
  display: block;
  transition-duration: .75s;
}

.grid-box a img {
  width: 100%;
}

.grid-box a:hover {
  opacity: .3;
}

.grid-box:hover .box-caption {
  visibility: visible;
}

.grid-box:hover .box-content {
  visibility: visible;
}

.box-caption {
  visibility: hidden;
  font-weight: 400;
  color: black;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 18%
}

.box-caption p {
  margin: auto;
  text-align: center;
  padding: 20px;
  text-transform: uppercase;
  font-size: 40px;
}

/*-----------------------------DESIGN-----------------------------*/

#design .sec-intro {
  background: #d7d9f2;
  clear: both;
}

#design .sec-intro h1 {
  color: #4e7641;
}

#design .box-content {
  visibility: hidden;
  color: black;
}

#design .box-caption {
  padding-top: 10%;
}

#design .box-caption p {
  margin: auto;
  text-align: center;
  padding-top: 5px;
  text-transform: uppercase;
  font-size: 20px;
}

#design .box-caption p span {
  font-weight: bold;
}

/*-----------------------------CONTACT---------------------------------*/

#contact .sec-intro {
  background: #4e7641;
}

#contact ul {
  align-items: center;
  list-style-type: none;
  color: white;
  font-size: 30px;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 50px;
  margin-bottom: 0;
}

#contact ul li span {
  font-weight: 400;
}

#contact .fa {
  font-size: 700%;
  padding: 0 20 40 20;
}

.fa-linkedin-square {
  color: #ec8b60;
}

.fa-facebook-square {
  color: #064767;
}

.fa-envelope {
  color: #d7d9f2;
}

.conCon {
  width: 50%;
  float: left;
}

.portrait {
  float: right;
  width: 50%;
}

.portrait img {
    width: 100%;
    max-height: 483;
    object-fit: cover;
    overflow: hidden;
}


/*----------------------MEDIA QUERIES-----------------------------*/

@media (min-width: 1200px) {
  .box-caption {
    font-size: 45px;
  }
}

@media (max-width: 1000px) and (min-width: 851px) {
  .nav-menu , .site-title {
    font-size: 20px;
    line-height: 32px;
  }
 }

@media (max-width: 850px) and (min-width: 680px) {
  .grid-box {
    width: 50%;
    float: left;
  }
  .box-caption {
    font-size: 40px;
  }
  .nav-menu , .site-title {
    line-height: 24px;
    font-size: 15px;
  }
}

@media (max-width: 680px) {
  .grid-box {
    width: 100%;
    float: none;
  }
  .box-caption {
    font-size: 60px;
  }

  .scroll {
    padding: 0;
  }

  header {
    padding: 0;
  }

  header ul {
    padding: 0;
  }
  
  header nav {
    padding: 0;
    width: 80%;
  }

  header nav a li {
    line-height: 42px;
    font-size: 10px;
    height: 42px;
    text-align: center;
    margin: 0;
  }
  header nav a  {
    height: 100%;
    width: 24.3%;
    padding: 0;
    margin: 0;
    float: left;
  }
  header .site-title {
    line-height: 42px;
    font-size: 12px;
    width: 20%;
    float: left;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .landing {
    padding: 20px;
    width: 100%;
  }
  .landing-content {
    padding-left: 10px;
    padding-right: 10px;
  }
  .landing h1, .landing h2 {
    -webkit-filter: none;
    text-align: center;
    margin: 0;
  }

  .landing h1 {
    color: #064767;
    font-weight: 300;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 32px;
  }

  .landing h2 {
    color: white;
    font-weight: 300;
    font-size: 20px;
    padding-top: 80px;
  }
  nav {
    width: 75%;
    float: right;
    padding: 0;
  }
  .sec-intro .sec-head h1 {
    padding-top: 50px;
    font-size: 40px;
    font-weight: 500;
  }

  .sec-intro h1, .sec-intro h2 {
    margin: 0;
    font-weight: 200;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .sec-intro h1 {
    color: white;
    font-size: 20px;
    padding-bottom: 20px;
  }

  .sec-intro h2 {
    font-size: 15px;
    padding-bottom: 30px;
  }
  .box-caption {
    visibility: hidden;
    font-size: 30px;
  }

}






/*DROPDOWN*/

/*.dropdown-pane {
  background-color: #fefefe;
  border: 1px solid #cacaca;
  border-radius: 0;
  display: block;
  font-size: 1rem;
  padding: 1rem;
  position: absolute;
  visibility: hidden;
  width: 300px;
  z-index: 10; }
  .dropdown-pane.is-open {
    visibility: visible; }

.dropdown-pane.tiny {
  width: 100px; }

.dropdown-pane.small {
  width: 200px; }

.dropdown-pane.large {
  width: 400px; }

.dropdown.menu > li.opens-left > .is-dropdown-submenu {
  left: auto;
  right: 0;
  top: 100%; }

.dropdown.menu > li.opens-right > .is-dropdown-submenu {
  right: auto;
  left: 0;
  top: 100%; }

.dropdown.menu > li.is-dropdown-submenu-parent > a {
  padding-right: 1.5rem;
  position: relative; }

.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border: inset 5px;
  border-color: #2199e8 transparent transparent;
  border-top-style: solid;
  border-bottom-width: 0;
  right: 5px;
  margin-top: -2px; }

[data-whatinput='mouse'] .dropdown.menu a {
  outline: 0; }

.no-js .dropdown.menu ul {
  display: none; }

.dropdown.menu.vertical > li .is-dropdown-submenu {
  top: 0; }

.dropdown.menu.vertical > li.opens-left > .is-dropdown-submenu {
  left: auto;
  right: 100%; }

.dropdown.menu.vertical > li.opens-right > .is-dropdown-submenu {
  right: auto;
  left: 100%; }

.dropdown.menu.vertical > li > a::after {
  right: 14px;
  margin-top: -3px; }

.dropdown.menu.vertical > li.opens-left > a::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border: inset 5px;
  border-color: transparent #2199e8 transparent transparent;
  border-right-style: solid;
  border-left-width: 0; }

.dropdown.menu.vertical > li.opens-right > a::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border: inset 5px;
  border-color: transparent transparent transparent #2199e8;
  border-left-style: solid;
  border-right-width: 0; }

@media screen and (min-width: 40em) {
  .dropdown.menu.medium-horizontal > li.opens-left > .is-dropdown-submenu {
    left: auto;
    right: 0;
    top: 100%; }
  .dropdown.menu.medium-horizontal > li.opens-right > .is-dropdown-submenu {
    right: auto;
    left: 0;
    top: 100%; }
  .dropdown.menu.medium-horizontal > li.is-dropdown-submenu-parent > a {
    padding-right: 1.5rem;
    position: relative; }
  .dropdown.menu.medium-horizontal > li.is-dropdown-submenu-parent > a::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: inset 5px;
    border-color: #2199e8 transparent transparent;
    border-top-style: solid;
    border-bottom-width: 0;
    right: 5px;
    margin-top: -2px; }
  .dropdown.menu.medium-vertical > li .is-dropdown-submenu {
    top: 0; }
  .dropdown.menu.medium-vertical > li.opens-left > .is-dropdown-submenu {
    left: auto;
    right: 100%; }
  .dropdown.menu.medium-vertical > li.opens-right > .is-dropdown-submenu {
    right: auto;
    left: 100%; }
  .dropdown.menu.medium-vertical > li > a::after {
    right: 14px;
    margin-top: -3px; }
  .dropdown.menu.medium-vertical > li.opens-left > a::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: inset 5px;
    border-color: transparent #2199e8 transparent transparent;
    border-right-style: solid;
    border-left-width: 0; }
  .dropdown.menu.medium-vertical > li.opens-right > a::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: inset 5px;
    border-color: transparent transparent transparent #2199e8;
    border-left-style: solid;
    border-right-width: 0; } }

@media screen and (min-width: 64em) {
  .dropdown.menu.large-horizontal > li.opens-left > .is-dropdown-submenu {
    left: auto;
    right: 0;
    top: 100%; }
  .dropdown.menu.large-horizontal > li.opens-right > .is-dropdown-submenu {
    right: auto;
    left: 0;
    top: 100%; }
  .dropdown.menu.large-horizontal > li.is-dropdown-submenu-parent > a {
    padding-right: 1.5rem;
    position: relative; }
  .dropdown.menu.large-horizontal > li.is-dropdown-submenu-parent > a::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: inset 5px;
    border-color: #2199e8 transparent transparent;
    border-top-style: solid;
    border-bottom-width: 0;
    right: 5px;
    margin-top: -2px; }
  .dropdown.menu.large-vertical > li .is-dropdown-submenu {
    top: 0; }
  .dropdown.menu.large-vertical > li.opens-left > .is-dropdown-submenu {
    left: auto;
    right: 100%; }
  .dropdown.menu.large-vertical > li.opens-right > .is-dropdown-submenu {
    right: auto;
    left: 100%; }
  .dropdown.menu.large-vertical > li > a::after {
    right: 14px;
    margin-top: -3px; }
  .dropdown.menu.large-vertical > li.opens-left > a::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: inset 5px;
    border-color: transparent #2199e8 transparent transparent;
    border-right-style: solid;
    border-left-width: 0; }
  .dropdown.menu.large-vertical > li.opens-right > a::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: inset 5px;
    border-color: transparent transparent transparent #2199e8;
    border-left-style: solid;
    border-right-width: 0; } }

.dropdown.menu.align-right .is-dropdown-submenu.first-sub {
  top: 100%;
  left: auto;
  right: 0; }

.is-dropdown-menu.vertical {
  width: 100px; }
  .is-dropdown-menu.vertical.align-right {
    float: right; }

.is-dropdown-submenu-parent {
  position: relative; }
  .is-dropdown-submenu-parent a::after {
    position: absolute;
    top: 50%;
    right: 5px;
    margin-top: -2px; }
  .is-dropdown-submenu-parent.opens-inner > .is-dropdown-submenu {
    top: 100%;
    left: auto; }
  .is-dropdown-submenu-parent.opens-left > .is-dropdown-submenu {
    left: auto;
    right: 100%; }
  .is-dropdown-submenu-parent.opens-right > .is-dropdown-submenu {
    right: auto;
    left: 100%; }

.is-dropdown-submenu {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  min-width: 200px;
  z-index: 1;
  background: #fefefe;
  border: 1px solid #cacaca; }
  .is-dropdown-submenu .is-dropdown-submenu-parent > a::after {
    right: 14px;
    margin-top: -3px; }
  .is-dropdown-submenu .is-dropdown-submenu-parent.opens-left > a::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: inset 5px;
    border-color: transparent #2199e8 transparent transparent;
    border-right-style: solid;
    border-left-width: 0; }
  .is-dropdown-submenu .is-dropdown-submenu-parent.opens-right > a::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: inset 5px;
    border-color: transparent transparent transparent #2199e8;
    border-left-style: solid;
    border-right-width: 0; }
  .is-dropdown-submenu .is-dropdown-submenu {
    margin-top: -1px; }
  .is-dropdown-submenu > li {
    width: 100%; }
  .is-dropdown-submenu.js-dropdown-active {
    display: block; }*/


