
@font-face
{
    font-family: 'AvenirNext';
    /*src: url('../font/AvenirNextLTPro-Bold.otf');*/

    src: url('36creative/Website files/Page 2/font/AvenirNextLTPro-Regular.otf');
    /*src: url('../AvenirNextLTPro-BoldCnIt.otf');
    src: url('../AvenirNextLTPro-Cn.otf');
    src: url('../AvenirNextLTPro-CnIt.otf');
    src: url('../font/AvenirNextLTPro-Demi.otf');
    src: url('../font/AvenirNextLTPro-DemiCn.otf');
    src: url('../font/AvenirNextLTPro-DemiCnIt.otf');
    src: url('../font/AvenirNextLTPro-DemiIt.otf');
    src: url('../font/AvenirNextLTPro-HeavyCn.otf');
    src: url('../font/AvenirNextLTPro-HeavyCnIt.otf');
    src: url('../font/AvenirNextLTPro-It.otf');
    src: url('../font/AvenirNextLTPro-MediumCn.otf');
    src: url('../font/AvenirNextLTPro-MediumCnIt.otf');
    src: url('../font/AvenirNextLTPro-UltLtCn.otf');
    src: url('../font/AvenirNextLTPro-UltLtCnIt.otf');*/
}

@font-face
{
    font-family: 'AvenirNext';
    font-weight: 200;

    src: url('36creative/Website files/Page 2/font/AvenirNextLTPro-UltLtCn.otf');
}

@font-face
{
    font-family: 'BrandonGro';

    src: url('36creative/Website files/Page 2/font/Brandon_med.otf');
}

body
{
    font-family: 'AvenirNext', sans-serif;
    font-size: 16px;

    margin: 0;

    text-align: center;

    color: #111;
    background: #fff;
    background-position: right;
    background-size: cover;
}

.cornLogo
{
    position: fixed;
    top: 0;
    right: 0;

    padding: 0 30 0 0;
}

.cornLogo img
{
    width: 90px;
    height: 140px;
}

@media (max-width: 1000px)
{
    .cornLogo
    {
        position: absolute;

        padding: 0;
    }
}

@media (max-width: 640px)
{
    .cornLogo img
    {
        width: 54px;
        height: 84px;
    }
}



.greyb
{
    width: 100%;

    background-color: #f2f2f2;
}

.content
{
    position: relative;

    min-height: 100vh;
    padding: 0;
    margin-bottom: -10px;
}

.content h1.tagline
{
    color: #333;
    letter-spacing: .3em;
    font-size: 1.9em;
}

.wrapper
{
    max-width: 704px;
    margin-right: auto;
    margin-left: auto;
    padding: 10;
}

.content .logo
{
    margin-top: 50;
    margin-bottom: 15;
    padding: 0 0 0 0;
}

.content .logo h1
{
    font-family: 'BrandonGro';
    font-size: 2.5em;
    font-weight: 500;

    display: block;

    margin-top: 50px;
    padding: 0;

    text-align: left;
    letter-spacing: .3em;
    text-transform: uppercase;
    line-height: 1.25em;

    color: #333;
    border-top: #333 solid 1px;
}

@media (max-width: 640px)
{
    .content .logo h1
    {
        font-size: 26px;
    }
}

.content h1
{
    font-family: 'BrandonGro';
    font-size: 26px;
    font-weight: 300;

    box-sizing: content-box;
    padding: 40 0 10 0;

    text-align: left;
    letter-spacing: 7.8px;
    text-transform: uppercase;
}

.content ul li
{
    line-height: 1.95em;

    padding: 10 0 10 0;

    text-align: left;
}

@media (max-width: 640px)
{
    .content ul li
    {
        font-size: 16px;
    }
}

.content ul li span
{
    font-weight: bold;
}

p
{
    font: normal 400 16px 'AvenirNext',sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
    line-height: 1.95em;

    list-style-type: none;

    text-align: left;
}

@media (max-width: 640px)
{
    p
    {
        font-size: 16px;
    }
}

.menuSec
{
    margin: 0 127px 0 127px;
    padding: 30;
}

.menuSec a,
.menuSec p
{
    font-size: 15px;

    display: inline-block;

    margin: 0;
    padding: 0 10 0 10;

    transition: ease .2s;
    text-decoration: none;
    letter-spacing: 0.25em;
    text-transform: uppercase;

    color: #fff;
    color: #333;
    border-bottom: solid 2px #fff;
}

@media (max-width: 640px)
{
    .menuSec
    {
        margin: 0;
        padding-bottom: 0;
    }
    .menuSec a
    {
        display: block;

        margin-right: 55%;
        margin-bottom: 5px;
        padding: 0;

        text-align: left;
    }
    .menuSec p
    {
        display: none;
    }
}


.menuSec a:hover
{
    border-bottom: solid 2px #333;
}

.bottomtag
{
    margin: 0;
    padding: 5em 0 1em 0;

    text-align: center;
    letter-spacing: .5;
}

.grid
{
    display: block;

    width: 100%;
    margin: 0;

    background: #333;
}

.gridBox
{
    position: relative;
    z-index: 0;

    display: inline-block;
    visibility: visible;
    float: left;

    width: 25%;

    background-color: #333;
}

@media (max-width: 1400px) and (min-width: 1001px)
{
    .gridBox
    {
        width: 33.3333333333%;
    }
}

@media (max-width: 1000px) and (min-width: 701px)
{
    .gridBox
    {
        width: 50%;
    }
}

@media (max-width: 700px)
{
    .gridBox
    {
        width: 100%;
    }
}

.gridOver
{
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;

    visibility: hidden;

    width: 100%;
    margin-top: -50px;
}

.gridOver p
{
    font-size: 24px;
    font-weight: 700;

    margin: 0;
    padding-left: 30px;

    letter-spacing: .3em;
    text-transform: uppercase;

    opacity: 1;
    color: #f2f2f2;
}

.gridOver .sub
{
    font-size: 16px;

    margin: 0;

    letter-spacing: 3.2px;

    color: #999;
}

.gridBox:hover .gridOver
{
    visibility: visible;
}

.gridBox a:hover
{
    opacity: .05;
}

.gridBox a
{
    display: block;

    width: 100%;
    height: auto;

    transition-timing-function: ease-in-out;
    transition-duration: .4s;
}

.gridBox a img
{
    width: 101%;
    margin-bottom: -2px;
}
