body
{
    font-family: 'Open Sans', sans-serif;

    margin: 0;

    letter-spacing: 1.5;

    background: white;
}


/*LANDING SECTION*/



.landing
{
    height: 100vh;

    background: linear-gradient(
    rgba(41, 39, 39, .88),
    rgba(41, 39, 39, .88)),
    url('Restaurant Challenge/Images/dish.jpg');
    background-position: center;
    background-size: cover;
}

nav
{
    font-weight: 300;

    position: fixed;
    z-index: 100;

    display: block;

    width: 100%;
    padding: 0;

    background: rgba(41, 39, 39, .88);
}

.logoContainer
{
    position: absolute;
    top: 35%;

    display: block;

    width: 100%;

    text-align: center;
}

.logo
{
    font-size: 7em;
    font-weight: 300;

    display: inline-block;

    margin-top: 0;
    margin-bottom: 0;
    padding: 0 20px 0 20px;

    text-align: center;

    color: white;
    border: solid 2px white;
}

.logoSubContainer
{
    position: absolute;
    top: 50%;

    display: block;

    width: 100%;
    margin-top: 50px;

    text-align: center;
}

.logoSubBack
{
    display: inline-block;

    color: white;
    border: solid 1px white;
}

.logoSub
{
    font-size: 2em;
    font-weight: 300;

    margin: 0;
    padding: 30px;
}


ul
{
    display: block;

    width: 100%;
    margin: 0;
    padding: 0;

    list-style-type: none;

    text-align: center;
}

.menu
{
    padding: 0;

    text-align: right;
}

nav ul li
{
    font-size: 25;
    font-weight: 200;

    display: inline-block;

    margin: 20px;

    transition-duration: 1s;
}

nav ul li:hover
{
    color: #333;
    background-color: white;
}

.desc
{
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
}

.desc p
{
    font-size: 1.5em;
    font-weight: 200;

    padding: 0 30 0 30;

    color: white;
}


/*MENU SECTION*/

.menuSec
{
    position: relative;

    height: 100vh;

    background-image: linear-gradient(to right, rgba(2, 2, 2, .51) 40%, transparent 55%), url('Restaurant Challenge/Images/dumpster.jpg');
    background-position: center;
    background-size: cover;
}

.menuSec h1
{
    font-size: 2em;
    font-weight: 400;

    display: block;

    width: 35%;
    margin: 0;
    padding: 1em 0 0 2em;

    color: rgba(224, 102, 90, .9);
}

.menuSec p
{
    font-size: 1em;
    font-weight: 300;

    position: absolute;
    bottom: 0;
    left: 0;

    display: inline-block;

    width: 30%;
    margin-top: 0;
    margin-bottom: 3em;
    padding: 0 0 4em 4em;

    text-align: left;

    color: #d6d2d2;
}


/*COW SECTION*/

.cowSec
{
    position: relative;

    height: 100vh;

    background: white;
}

.cowBaby,
.cowBurger
{
    position: relative;

    width: 50%;
    height: 100%;

    background-position: center;
    background-size: cover;
}


.cowBaby
{
    float: left;

    background-image: linear-gradient(to bottom, rgba(2, 2, 2, .39) 10%, transparent 50%), url('Restaurant Challenge/Images/cow.jpg');
}

.cowBurger
{
    float: right;

    background-image: linear-gradient(to top, rgba(2, 2, 2, .61) 30%, transparent 50%), url('Restaurant Challenge/Images/burger.jpeg');
}

.fadeInBlock
{
    opacity: 0;
}

.cowDescContainer
{
    display: inline-block;

    margin-right: 0;

    text-align: right;
}

.cowDesc
{
    font-size: 2em;
    font-weight: 400;

    display: inline-block;

    width: 50%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 4em 1em 0 .5em;

    text-align: right;

    color: rgba(224, 102, 90, .9);
}

.cowDescDetails
{
    font-size: 1.5em;
    font-weight: 300;

    position: absolute;
    bottom: 0;
    left: 0;

    display: inline-block;

    width: 80%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 20px .5em 20px;

    text-align: left;

    color: #d6d2d2;
}

/*BALLPIT*/


.ballSec
{
    position: relative;

    height: 100vh;

    background: white;
    background-image: url('Restaurant Challenge/Images/ballPit.jpg');
}

.ballDescContainer
{
    position: absolute;
    top: 40%;

    display: block;

    width: 100%;

    text-align: center;
}

.ballDesc
{
    font-size: 3em;
    font-weight: 300;

    display: inline-block;

    width: 60%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 20px 0 20px;

    text-align: center;

    background: rgba(255, 255, 255, .87);
}


/*CONTACT*/

.contactSec
{
    height: 100vh;

    background: white;
}

.contactDiv
{
    position: relative;

    height: 50%;

    color: white;
    background: #333;
}

.contactInfo
{
    position: absolute;
    top: 50%;

    margin-top: -137px;
}

.contactInfo p
{
    margin: 0;
    padding: 20px;
}

.contactInfo p span
{
    font-weight: bold;
}

.ownerInfo
{
    height: 50%;
}

.ownerBio
{
    float: left;

    width: 50%;
}

.ownerBio p
{
    padding: 0 1em 0 1em;
}

.ownerImage
{
    float: right;

    width: 50%;
    height: 100%;

    background-image: url('Restaurant Challenge/Images/hipstertrash.jpg');
    background-position: center;
    background-size: cover;
}




/* Valentine MENU */

.menu--valentine .menu__item {
    position: relative;
    margin: 0 1em;
}

.menu--valentine .menu__link {
    position: relative;
    min-width: 105px;
    text-align: center;
    color: #b5b5b5;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    text-decoration: none;
}

.menu--valentine .menu__link:hover,
.menu--valentine .menu__link:focus {
    color: #929292;
}

.menu--valentine .menu__item--current .menu__link {
    color: #d94f5c;
}

.menu--valentine .menu__item::before,
.menu--valentine .menu__item::after,
.menu--valentine .menu__link::before,
.menu--valentine .menu__link::after {
    content: '';
    position: absolute;
    background: #d94f5c;
    -webkit-transform-origin: 350% 350%;
    transform-origin: 350% 350%;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.menu--valentine .menu__item::before,
.menu--valentine .menu__item::after {
    top: 0;
    width: 2px;
    height: 100%;
    -webkit-transform: scale3d(1, 0, 1);
    transform: scale3d(1, 0, 1);
}

/* left line */
.menu--valentine .menu__item::before {
    left: 0;
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}

/* right line */
.menu--valentine .menu__item::after {
    right: 0;
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

.menu--valentine .menu__link::before,
.menu--valentine .menu__link::after {
    left: 0;
    width: 100%;
    height: 2px;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
}

/* top line */
.menu--valentine .menu__link::before {
    top: 0;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

/* bottom line */
.menu--valentine .menu__link::after {
    bottom: 0;
}

.menu--valentine .menu__item--current::before,
.menu--valentine .menu__item--current::after,
.menu--valentine .menu__item--current .menu__link::before,
.menu--valentine .menu__item--current .menu__link::after {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
