
@font-face {
	font-family: 'AvenirNext';
	/*src: url('../font/AvenirNextLTPro-Bold.otf');*/
	src: url('../font/AvenirNextLTPro-Regular.otf');
	/*src: url('../AvenirNextLTPro-BoldCnIt.otf');
	src: url('../AvenirNextLTPro-Cn.otf');
	src: url('../AvenirNextLTPro-CnIt.otf');
	src: url('../font/AvenirNextLTPro-Demi.otf');
	src: url('../font/AvenirNextLTPro-DemiCn.otf');
	src: url('../font/AvenirNextLTPro-DemiCnIt.otf');
	src: url('../font/AvenirNextLTPro-DemiIt.otf');
	src: url('../font/AvenirNextLTPro-HeavyCn.otf');
	src: url('../font/AvenirNextLTPro-HeavyCnIt.otf');
	src: url('../font/AvenirNextLTPro-It.otf');
	src: url('../font/AvenirNextLTPro-MediumCn.otf');
	src: url('../font/AvenirNextLTPro-MediumCnIt.otf');
	src: url('../font/AvenirNextLTPro-UltLtCn.otf');
	src: url('../font/AvenirNextLTPro-UltLtCnIt.otf');*/
}

@font-face {
    font-family: "AvenirNext";
	src: url('../font/AvenirNextLTPro-UltLtCn.otf');
    font-weight: 200;
}

@font-face {
	font-family: 'BrandonGro';
	src: url('../font/Brandon_med.otf');
}

body {
	background: #191919;
	background-size: cover;
	background-position: right;
	font-family: 'AvenirNext', sans-serif;
	font-size: 16px;
	text-align: center;
	color: #868686;
}

.content, .logo {
	width: 704px;
	margin: auto;
}

.logo h1 {
	font-family: 'BrandonGro';
	font-weight: 500;
	display: block;
	font-size: 42.5px;
	letter-spacing: 15.93;
	text-transform: uppercase;
	margin-top: 150px;
	text-align: left;
	border-top: #ffffff solid 1px;
	color: #ffffff
}

.content h1 {
	font-weight: 300;
	text-align: left;
	text-transform: uppercase;
	padding: 40 0 10 0;
	font-family: 'BrandonGro';
	font-size: 26px;
	letter-spacing: 7.8px;
	box-sizing: content-box;
}


p {
	list-style-type: none;
	text-align: left;
	line-height: 40px;
	font-weight: 200;
	font-size: 25px;
	font: normal 400 16px "AvenirNext",sans-serif;
}

.menuSec a, .menuSec p {
	font-size: 10px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 5.76px;
	color: #fff;
	display: inline-block;
	transition-duration: 1s;
	padding: 10 20 10 20;
}

.menuSec p {
	padding: 0;
}

.menuSec a:hover {
	border-bottom: solid 2px #fff;
}

.grid {
	display: block;
	max-height: 25%;
	background: white;
	margin: 40 0 0 0;
}

.gridBox {
	width: 25%;
	float: left;
	display: inline-block;
	z-index: 0;
	position: relative;
	visibility: visible;
}

.gridOver {
	z-index: 1;
	width: 100%;
	height:auto;
	visibility: hidden;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(51, 51, 51, 0.67);
	color: white;
}

.gridBox:hover .gridOver {
	visibility: visible;
}

.gridBox img {
	width: 100%;
	height: auto;
}


