
@font-face {
	font-family: 'AvenirNext';
	/*src: url('../font/AvenirNextLTPro-Bold.otf');*/
	src: url('../font/AvenirNextLTPro-Regular.otf');
	/*src: url('../AvenirNextLTPro-BoldCnIt.otf');
	src: url('../AvenirNextLTPro-Cn.otf');
	src: url('../AvenirNextLTPro-CnIt.otf');
	src: url('../font/AvenirNextLTPro-Demi.otf');
	src: url('../font/AvenirNextLTPro-DemiCn.otf');
	src: url('../font/AvenirNextLTPro-DemiCnIt.otf');
	src: url('../font/AvenirNextLTPro-DemiIt.otf');
	src: url('../font/AvenirNextLTPro-HeavyCn.otf');
	src: url('../font/AvenirNextLTPro-HeavyCnIt.otf');
	src: url('../font/AvenirNextLTPro-It.otf');
	src: url('../font/AvenirNextLTPro-MediumCn.otf');
	src: url('../font/AvenirNextLTPro-MediumCnIt.otf');
	src: url('../font/AvenirNextLTPro-UltLtCn.otf');
	src: url('../font/AvenirNextLTPro-UltLtCnIt.otf');*/
}

@font-face {
    font-family: "AvenirNext";
	src: url('../font/AvenirNextLTPro-UltLtCn.otf');
    font-weight: 200;
}

@font-face {
	font-family: 'BrandonGro';
	src: url('../font/Brandon_med.otf');
}

body {
	background: #fff;
	background-size: cover;
	background-position: right;
	font-family: 'AvenirNext', sans-serif;
	font-size: 16px;
	text-align: center;
	color: #111;
	margin: 0;
}

.cornLogo {
	position: fixed;
	top: 0;
	right: 0;
	padding: 0 30 0 0;
}

.greyb {
	background-color: #f2f2f2;
	width: 100%;

}

.content {
	position: relative;
	min-height: 100vh;
}

.content h1.tagline {
	color: #333
}

.wrapper {
	width: 704px;
	margin-left: auto;
	margin-right: auto;
	padding: 10;
}

.content .logo {
	margin-top: 50;
	margin-bottom: 15;
	padding: 0 0 0 0;

}

.content .logo h1 {
	font-family: 'BrandonGro';
	font-weight: 500;
	display: block;
	font-size: 42.5px;
	letter-spacing: 15.93;
	text-transform: uppercase;
	margin-top: 50px;
	text-align: left;
	border-top: #333 solid 1px;
	color: #333;
	padding:0;
}

.content h1 {
	font-weight: 300;
	text-align: left;
	text-transform: uppercase;
	padding: 40 0 10 0;
	font-family: 'BrandonGro';
	font-size: 26px;
	letter-spacing: 7.8px;
	box-sizing: content-box;
}

.content ul li {
	text-align: left;
	letter-spacing: 3;
	line-height: 1.5;
	padding: 10 0 10 0;
}

.content ul li span {
	font-weight: bold;
}

p {
	list-style-type: none;
	text-align: left;
	line-height: 40px;
	font-weight: 200;
	font-size: 25px;
	font: normal 400 16px "AvenirNext",sans-serif;
	letter-spacing: 3;
	line-height: 1.5;
}

.menuSec {
	padding: 30;
}

.menuSec a, .menuSec p {
	font-size: 15px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 5.76px;
	color: #fff;
	display: inline-block;
	transition-duration: 1s;
	padding: 0 10 0 10;
	border-bottom: #191919;
	color: #333;
	margin: 0;
}

.menuSec a:hover {
	border-bottom: solid 2px #fff;
}

.bottomtag {
	text-align: center;
	margin: 0;
	padding-top: 55px;
}

.grid {
	display: block;
	max-height: 25%;
	background: white;
	margin: 0;
}

.gridBox {
	width: 25%;
	float: left;
	display: inline-block;
	z-index: 0;
	position: relative;
	visibility: visible;
}

.gridOver {
	width: 100%;
	visibility: hidden;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin-top: 40%;
}

.gridOver p{
	color: black;
	font-size: 24px;
	font-weight: 700;
	padding-left: 30px;
	letter-spacing: .3em;
	opacity: 1;
	text-transform: uppercase;
}

.gridBox:hover .gridOver {
	visibility: visible;
}

.gridBox a:hover {
	opacity: .2;
}

.gridBox a {
	display: block;
	width: 100%;
	height: auto;
}

.gridBox a img {
	width: 100%;
	height: auto;
}


