@mixin fullWidth() {
  grid-column-start: 1;
  grid-column-end: 4;
  align-self: center;
}

.work.epfr-work {
  grid-template-columns: 1fr 1fr;

  > a[class*="logo"],
  .position,
  .tools-used {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

#my-work {
  hr {
    margin: 65px auto;
    width: 80%;
    border: 2px solid black;
  }
}

.work {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px auto;
  gap: 15px;

  > a[class*="logo"] {
    @include fullWidth();
    background-size: 500px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }

  > .position {
    @include fullWidth();
    text-align: center;
  }

  > div.content-block {
    display: block;

    .text-content {
      margin: 0 10px;

      h3 {
        text-align: center;
      }

      p {
        line-height: 1.5;
        font-weight: 500;
      }
    }

    > img,
    iframe {
      height: auto;
      width: 100%;
      object-fit: cover;
    }

    > iframe {
      height: 280px;
    }
  }

  > .tools-used {
    text-align: center;

    > img {
      height: 50px;
      margin: 0 10px 0 10px;
    }
  }

  > .tools-used {
    @include fullWidth();
  }

  .pp-logo {
    background-image: url("../../images/logos/pp-logo.png");
  }

  .mm-logo {
    background-image: url("../../images/logos/mm-logo.png");
    background-color: #02306b;
  }

  .epfr-logo {
    background-image: url("../../images/logos/epfr-logo.jpg");
  }
}
