.landing-body {
  display: grid;
  grid-template-columns: 20% 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;

  > .description-section {
    float: left;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;

    > div {
      padding: 20px 10px;
    }

    > .autograph {
      letter-spacing: 3.2px;
    }

    > .description-item {
      font-size: 16px;
      letter-spacing: 2.4px;
      text-align: right;
    }
  }

  .social-links {
    text-align: center;
    position: relative;
    padding: 20px 0 50px 0;
    grid-row: 2/3;
    grid-column: 1/2;
    align-self: end;

    > hr {
      width: 75%;
    }

    .social-link {
      display: inline-block;
      font-weight: 500;
      padding: 5px 0 0 0;

      a {
        text-decoration: none;
        color: black;
        font-size: 30px;
        width: 100%;

        &:hover {
          color: #8e8d8d;
        }

        .fab,
        .fas {
          width: 1.28571429em;
          text-align: center;
        }
      }

      h4 {
        display: none;
        position: absolute;
        text-align: center;
        bottom: 0;
        right: 0;
        left: 0;
        margin: 15px 0;
      }

      &:hover {
        h4 {
          display: inline;
        }
      }
    }
  }

  > .galaxy {
    background-image: url("../../images/landing/landing-bg.jpg");
    background-size: cover;
    grid-column: 2/4;
    grid-row: 1/3;
  }
}
