.section-header {
  background-color: #39373a;
  padding: 70px;
  color: #fff;
  box-sizing: border-box;

  h2 {
    position: relative;
    text-align: center;

    &:after,
    &:before {
      position: absolute;
      top: 50%;
      display: block;
      width: 35%;
      border-bottom: 4px solid #fff;
      content: "";
    }

    &:after {
      right: 0;
    }

    &:before {
      left: 0;
    }
  }
}
