header {
  height: 100px;
  font-family: "Montserrat", sans-serif;
  background-color: white;

  > .autograph {
    padding: 13px 0px 13px 0px;
    font-weight: 700;
    font-size: 30px;
    float: left;
    width: 35%;

    > .first-name {
      padding-left: 30px;
    }

    > .last-name {
      padding-left: 85px;
    }
  }

  > nav {
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
    width: 65%;
    float: right;
    font-weight: 600;

    > a {
      text-decoration: none;
      color: black;
      flex-basis: 150px;
      text-align: center;
      padding: 40px 0 40px 0;
    }
  }
}
