header {
  font-family: "Montserrat", sans-serif;
  background-color: white;
  float: left;
  width: 100%;
  line-height: 22px;

  > .autograph {
    margin: auto;
    font-weight: 700;
    font-size: 20px;
    float: left;
    width: 35%;
    letter-spacing: 3.2px;
    text-transform: uppercase;
  }

  > nav {
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
    width: 65%;
    float: right;
    font-weight: 600;

    > a {
      text-decoration: none;
      color: black;
      flex-basis: 150px;
      text-align: center;
      letter-spacing: 2.4px;
      text-transform: uppercase;
    }
  }
  .autograph div,
  nav a {
    padding: 16px;
  }
}
