.landing-body {
  display: grid;
  grid-template-columns: 20% 1fr 1fr;
  grid-template-rows: 300px 300px;
  width: 100%;
  > .galaxy {
    background-image: url("../../images/landing/landing-bg.jpg");
    background-size: cover;
    grid-column: 2/4;
    grid-row: 1/3;
  }
}
