@use "./work-section/work-section.scss";
@use "./work-section/work-section-mobile.scss";
@use "./landing/landing.scss";
@use "./landing/landing-mobile.scss";
@use "./section-header/section-header.scss";
@use "./section-header/section-header-mobile.scss";
@use "./about-me/about-me.scss";
@use "./about-me/about-me-mobile.scss";

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

#photography,
#landing,
#about-me {
  > * {
    margin: auto;
    max-width: 1300px;
  }
}
